@import "../css/utils.scss";

html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: $gray-color;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.7);
  }
  cursor: url(../images/cursor.png), auto;
}
a:hover,
button:hover {
  cursor: url(../images/cursor.png), auto;
}

/* modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  background: rgba(0, 0, 0, 0.65);
}
.madal-bg {
  z-index: 10;
  width: 100%;
  height: 100%;
}
.modal .modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  max-width: 900px;
  padding: 58px;
  box-sizing: border-box;
  background: $white-color;
}
.modal .modal-content {
  position: relative;
  display: flex;
  width: 100%;
  align-items: stretch;
  & .modal-close {
    position: absolute;
    right: -18px;
    top: -18px;
    & .close {
      display: inline-block;
      display: inline-block;
      background: transparent;
      border: none;
      &:after {
        content: "\00d7";
        font-size: 44px;
        display: block;
      }
    }
  }
}
.modal .modal-content .modal-images {
  width: 337px;
  max-height: 430px;
  box-sizing: border-box;
  overflow: hidden;
  & img {
    width: 100%;
  }
}
.modal .modal-content .modal-desc {
  margin-left: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% - 337px);
  & h3 {
    @include extrabold-font;
    margin-bottom: 5px;
  }
}
.modal .modal-content .modal-desc .project-detail .detail {
  margin: 28px 0;
  & p {
    display: grid;
    grid-template-columns: 130px 1fr;
  }
  & span {
    color: $gray-color;
    font-weight: 500;
    width: 124px;
    margin-bottom: 5px;
  }
}
.modal .modal-content .modal-desc .project-view button,
.view_button {
  border: none;
  text-align: center;
  padding: 10px 20px;
  box-sizing: border-box;
  font-weight: 500;
  color: $black-color;
  background: $white-color;
  border: 1px solid $black-color;
  border-radius: 50px;
  &:hover,
  &:hover {
    background-color: $black-color;
    color: $white-color;
  }
}

/************************ Media Query **/
@media screen and (max-width: 1024px) {
  .modal .modal-dialog {
    padding: 28px;
  }
  .modal .modal-content .modal-desc {
    display: block;
    width: 100%;
    margin: 0;
  }
  .modal .modal-content .modal-images {
    display: none;
  }
  .modal .modal-content .modal-desc .project-detail .detail {
    & p {
      display: block;
      margin-bottom: 10px;
    }
    & span {
      display: block;
      margin-bottom: 0;
    }
  }
}
