/* utils setting */
/* header */
#header {
  position: fixed;
  width: 100vw;
  height: auto;
  z-index: 10; /* cursor: none; */
}

#header .header_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 44px 88px;
  box-sizing: border-box;
}
@media screen and (max-width: 924px) {
  #header .header_wrap {
    padding: 44px;
  }
}
@media screen and (max-width: 640px) {
  #header .header_wrap {
    padding: 28px;
  }
}
#header .header_wrap .logo {
  font-size: 1.46vw;
  color: transparent;
  visibility: hidden;
}
#header .header_wrap .menu_btn {
  display: block;
}

#header .header_wrap ul {
  display: none;
  justify-content: flex-end;
  opacity: 1;
  transition: all 0.5s;
}
#header .header_wrap ul li.work {
  margin-left: 3.85vw;
  margin-right: 3.59vw;
}
#header .header_wrap ul li.home {
  display: none;
}

/* menu */
#header .header_wrap .menu_btn {
  position: relative;
  width: 50px;
  height: 50px;
  z-index: 10;
}
#header .header_wrap .menu_btn span {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: all 0.3s;
}
#header .header_wrap .menu_btn .line_1 {
  transform: rotate(0) translate(0%, -8px);
}
#header .header_wrap .menu_btn .line_2 {
  transform: rotate(0) translate(0%, 8px);
}

#header .header_wrap .menu_btn.active span {
  background-color: #fff !important;
  transition: all 0.3s;
}
#header .header_wrap .menu_btn.active .line_1 {
  transform: rotate(45deg) translate(0%, 0%);
}
#header .header_wrap .menu_btn.active .line_2 {
  transform: rotate(-45deg) translate(0%, 0%);
}

#header .header_wrap ul.active {
  position: absolute;
  top: 0;
  left: 0;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #121212;
  z-index: 5;
  opacity: 1;
  transition: all 0.5s;
}

#header .header_wrap ul.active li {
  position: relative;
  display: flex;
  margin: 24px 0;
}
#header .header_wrap ul.active li a {
  font-size: 92px;
  color: #fff;
  position: relative;
  display: block;
}
@media screen and (max-width: 640px) {
  #header .header_wrap ul.active li a {
    font-size: 58px;
  }
}
#header .header_wrap ul.active li a:after {
  content: "";
  width: 0;
  height: 5px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: -5px;
}
#header .header_wrap ul.active li a:hover:after {
  width: 100%;
}

/* scrolldown */
#scroll_down {
  display: block;
  position: absolute;
  left: 88px;
  bottom: 0;
  text-align: center;
  width: 2px;
  height: 120px;
}
#scroll_down::before {
  animation: elasticus 1.5s cubic-bezier(1, 0, 0, 1) infinite;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 120px;
  background: #fff;
  content: " ";
}

#scroll_title {
  display: block;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.1em;
  position: absolute;
  top: 40px;
  right: -25px;
  width: 110px;
  transform: rotate(-90deg);
}
@keyframes elasticus {
  0% {
    transform-origin: 0% 0%;
    transform: scale(1, 0);
  }
  50% {
    transform-origin: 0% 0%;
    transform: scale(1, 1);
  }
  50.1% {
    transform-origin: 0% 100%;
    transform: scale(1, 1);
  }
  100% {
    transform-origin: 0% 100%;
    transform: scale(1, 0);
  }
}
@media screen and (max-width: 640px) {
  #header .header_wrap .menu_btn {
    width: 35px;
    height: 35px;
  }
  #header .header_wrap .menu_btn .line_1 {
    transform: rotate(0) translate(0%, -6px);
  }
  #header .header_wrap .menu_btn .line_2 {
    transform: rotate(0) translate(0%, 6px);
  }
}/*# sourceMappingURL=include.css.map */