@charset "UTF-8";
/* variable setting */
html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  cursor: url(../images/cursor.png), auto;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.7);
}

a:hover,
button:hover {
  cursor: url(../images/cursor.png), auto;
}

/* modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  background: rgba(0, 0, 0, 0.65);
}

.madal-bg {
  z-index: 10;
  width: 100%;
  height: 100%;
}

.modal .modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  max-width: 900px;
  padding: 58px;
  box-sizing: border-box;
  background: #fff;
}

.modal .modal-content {
  position: relative;
  display: flex;
  width: 100%;
  align-items: stretch;
}
.modal .modal-content .modal-close {
  position: absolute;
  right: -18px;
  top: -18px;
}
.modal .modal-content .modal-close .close {
  display: inline-block;
  display: inline-block;
  background: transparent;
  border: none;
}
.modal .modal-content .modal-close .close:after {
  content: "×";
  font-size: 44px;
  display: block;
}

.modal .modal-content .modal-images {
  width: 337px;
  box-sizing: border-box;
  overflow: hidden;
}
.modal .modal-content .modal-images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal .modal-content .modal-desc {
  margin-left: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% - 337px);
}
.modal .modal-content .modal-desc h3 {
  font-size: 26px;
  margin-bottom: 5px;
}

.modal .modal-content .modal-desc .project-detail .detail {
  margin: 28px 0;
}
.modal .modal-content .modal-desc .project-detail .detail p {
  display: flex;
}
.modal .modal-content .modal-desc .project-detail .detail span {
  color: #888;
  font-weight: 500;
  width: 124px;
  margin-bottom: 5px;
}

.modal .modal-content .modal-desc .project-view button,
.view_button {
  border: none;
  text-align: center;
  padding: 10px 20px;
  box-sizing: border-box;
  font-weight: 500;
  color: #121212;
  background: #fff;
  border: 1px solid #121212;
  border-radius: 50px;
}
.modal .modal-content .modal-desc .project-view button:hover, .modal .modal-content .modal-desc .project-view button:hover,
.view_button:hover,
.view_button:hover {
  background-color: #121212;
  color: #fff;
  border-color: #121212;
}

@media screen and (max-width: 1024px) {
  .modal .modal-dialog {
    padding: 28px;
  }
  .modal .modal-content .modal-desc {
    display: block;
    width: 100%;
    margin: 0;
  }
  .modal .modal-content .modal-images {
    display: none;
  }
  .modal .modal-content .modal-desc .project-detail .detail p {
    display: block;
    margin-bottom: 10px;
  }
  .modal .modal-content .modal-desc .project-detail .detail span {
    display: block;
    margin-bottom: 0;
  }
}
/* header */
#header {
  position: fixed;
  width: 100vw;
  height: auto;
  z-index: 10; /* cursor: none; */
}

#header .header_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 44px 88px;
  box-sizing: border-box;
}
#header .header_wrap .logo {
  font-size: 1.46vw;
  color: transparent;
  visibility: hidden;
}
#header .header_wrap .menu_btn {
  display: block;
}

#header .header_wrap ul {
  display: none;
  justify-content: flex-end;
  opacity: 1;
  transition: all 0.5s;
}
#header .header_wrap ul li.work {
  margin-left: 3.85vw;
  margin-right: 3.59vw;
}
#header .header_wrap ul li.home {
  display: none;
}
#header .header_wrap ul li a {
  font-size: 1vw;
  color: #fff;
}

/* menu */
#header .header_wrap .menu_btn {
  position: relative;
  width: 50px;
  height: 50px;
  z-index: 10;
}
#header .header_wrap .menu_btn span {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: all 0.3s;
}
#header .header_wrap .menu_btn .line_1 {
  transform: rotate(0) translate(0%, -8px);
}
#header .header_wrap .menu_btn .line_2 {
  transform: rotate(0) translate(0%, 8px);
}

#header .header_wrap .menu_btn.active span {
  background-color: #fff !important;
  transition: all 0.3s;
}
#header .header_wrap .menu_btn.active .line_1 {
  transform: rotate(45deg) translate(0%, 0%);
}
#header .header_wrap .menu_btn.active .line_2 {
  transform: rotate(-45deg) translate(0%, 0%);
}

#header .header_wrap ul.active {
  position: absolute;
  top: 0;
  left: 0;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #121212;
  z-index: 5;
  opacity: 1;
  transition: all 0.5s;
}

#header .header_wrap ul.active li {
  position: relative;
  display: flex;
  margin: 24px 0;
}
#header .header_wrap ul.active li a {
  font-size: 92px;
  position: relative;
  display: block;
}
#header .header_wrap ul.active li a:after {
  content: "";
  width: 0;
  height: 5px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: -5px;
}
#header .header_wrap ul.active li a:hover:after {
  width: 100%;
}

/* scrolldown */
#scroll_down {
  display: block;
  position: absolute;
  left: 88px;
  bottom: 0;
  text-align: center;
  width: 2px;
  height: 120px;
}
#scroll_down::before {
  -webkit-animation: elasticus 1.5s cubic-bezier(1, 0, 0, 1) infinite;
  animation: elasticus 1.5s cubic-bezier(1, 0, 0, 1) infinite;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 120px;
  background: #fff;
  content: " ";
}

#scroll_title {
  display: block;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.1em;
  position: absolute;
  top: 40px;
  right: -25px;
  width: 110px;
  transform: rotate(-90deg);
}

@-webkit-keyframes elasticus {
  0% {
    transform-origin: 0% 0%;
    transform: scale(1, 0);
  }
  50% {
    transform-origin: 0% 0%;
    transform: scale(1, 1);
  }
  50.1% {
    transform-origin: 0% 100%;
    transform: scale(1, 1);
  }
  100% {
    transform-origin: 0% 100%;
    transform: scale(1, 0);
  }
}
@keyframes elasticus {
  0% {
    transform-origin: 0% 0%;
    transform: scale(1, 0);
  }
  50% {
    transform-origin: 0% 0%;
    transform: scale(1, 1);
  }
  50.1% {
    transform-origin: 0% 100%;
    transform: scale(1, 1);
  }
  100% {
    transform-origin: 0% 100%;
    transform: scale(1, 0);
  }
}
@media screen and (max-width: 640px) {
  #header .header_wrap {
    padding: 28px;
  }
  #header .header_wrap .menu_btn {
    width: 35px;
    height: 35px;
  }
  #header .header_wrap .menu_btn .line_1 {
    transform: rotate(0) translate(0%, -6px);
  }
  #header .header_wrap .menu_btn .line_2 {
    transform: rotate(0) translate(0%, 6px);
  }
  #header .header_wrap ul.active li a {
    font-size: 50px;
  }
}/*# sourceMappingURL=include.css.map */