@import "../css/utils.scss";
/* section */
section {
  width: 100vw;
}
/* section01 */
.section01 {
  background-color: $black-color;
  height: 100vh;
  position: relative;
  z-index: 2;
  overflow: hidden;
  @include wrap-padding;
  & .title {
    padding: 100px 0 0;
    color: $white-color;
    @include title-font;
    position: relative;
  }
}
/* section02 */
.section02 {
  @include wrap-padding;
  & .text {
    padding: 230px 0;
    & h1 {
      font-size: 78px;
      text-align: center;
      line-height: 1.25;
    }
    & h1:last-child {
      font-size: 48px;
      font-style: italic;
      font-weight: 100;
      margin-top: 48px;
    }
  }
}
.introduce {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 115px;
  &_img {
    margin-right: 115px;
    & img {
      width: 384px;
    }
  }
  &_text {
    h2 {
      font-size: 40px;
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background-color: $black-color;
        margin-top: 15px;
      }
    }
    h3 {
      @include extrabold-font;
      margin: 38px 0;
    }
    h4 {
      @include medium-font;
      font-weight: 500;
    }
  }
  &_tag {    
    margin-bottom: 38px;
    span {
      display: inline-block;
      margin-right: 5px;
      font-size: 18px;
      color: $gray-color;
    }
  }
  &_icons {
    display: flex;
    margin: 12px 0 24px;
    p {
      background-color: #fafafa;
      margin-right: 10px;
      padding: 10px;
      border-radius: 5px;
      box-sizing: border-box;
    }
  }
}
/* section03 */
.section03 {
  height: auto;
  overflow: hidden;
  .cont_wrap {
    height: 100vh;
  }
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 138px;
    line-height: 1;
    & h1 span {
      display: block;
      font-style: italic;
      font-weight: 100;
    }
    & a {
      @include more-btn;
      border: 1px solid $white-color;
      color: $white-color;
      font-size: 28px;
      margin-top: 78px;
      position: relative;
      z-index: 10;
      &:hover {
        background-color: $white-color;
        color: $black-color;
        border: 1px solid $black-color;
      }
    }
  }
}
.work_wrap {
  position: absolute;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 66.15vw;
  height: auto;
  margin-left: -33.07vw;
  z-index: 5;
  & .work {
    width: 600px;
    height: 600px;
    text-align: center;
    margin: 78px;
    &:hover {
      cursor: url(../images/cursor_on.png) 20 10, auto;
    }
  }
  & .work img {
    width: 500px;
  }
  & .work1 {
    transform: translate(-55%, 0%);
  }
  & .work2 {
    transform: translate(55%, -40%);
  }
  & .work3 {
    transform: translate(-55%, -65%);
  }
  & .work4 {
    transform: translate(55%, -110%);
  }
}
/* section04 */
.section04 {
  @include wrap-padding;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  h1 {
    @include title-font;
    line-height: 1.1;
  }
}
.thank_wrap {
  .thank {
    & p {
      @include extrabold-font;
      line-height: 1.5;
      &.please {
        @include medium-font;
        margin-top: 10px;
        color: $gray-color;
      }
    }
  }
}
/* footer */
footer.index_footer {
  position: absolute;
  right: -58px;
  top: 50%;
  transform: rotate(90deg);
  opacity: 0.5;
}
.contact_wrap {
  display: flex;
  justify-content: space-between;
}
.contact {
  p {
    @include medium-font;
  }
  a {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 20px;
    @include extrabold-font;
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: $black-color;
    }
  }
}
.link_box {
  & a {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
    & img {
      width: 100%;
      border-radius: 50%;
    }
  }
}

/************************ Media Query **/
@media screen and (max-width: 1260px) {
  .section02 .text h1 {
    font-size: 64px;
    &:last-child {
      font-size: 38px;
    }
  }
  .introduce_text {
    & h2 {
      font-size: 34px;
    }
  }
  .introduce {
    flex-direction: column;
  }
  .introduce_img {
    margin-right: 0;
    margin-bottom: 115px;
    img {
      width: 300px;
    }
  }
  .work_wrap {
    & .work {
      width: 500px;
      height: 500px;
      & img {
        width: 450px;
      }
    }
  }
}
@media screen and (max-width: 924px) {
  .section02 .text {
    padding: 180px 0;
  }
  .section02 .text h1 {
    font-size: 50px;
    &:last-child {
      font-size: 30px;
    }
  }
  .work_wrap {
    & .work1,
    & .work2,
    & .work3,
    & .work4 {
      transform: inherit;
    }
  }
  footer.index_footer {
    position: inherit;
    transform: inherit;
    right: inherit;
    top: inherit;
  }
}
@media screen and (max-width: 640px) {
  #scroll_down {
    left: 60px;
  }
  .section03 .title {
    font-size: 68px;
  }
  .introduce_icons {
    flex-wrap: wrap;
    & p {
      width: calc(25% - 10px);
      margin-bottom: 10px;
      justify-content: center;
      align-items: center;
      display: flex;
    }
  }
  .contact_wrap {
    display: block;
  }
  .contact span {
    display: inline-block;
    margin-bottom: 28px;
  }
}
@media screen and (max-width: 467px) {
  .section02 .text {
    padding: 90px 0;
  }
  .section02 .text h1 {
    font-size: 34px;
    &:last-child {
      font-size: 26px;
      margin-top: 24px;
    }
  }
  .introduce {
    padding-bottom: 90px;
  }
  .introduce_img {
    margin-bottom: 90px;
    img {
      width: 240px;
    }
  }
  .introduce_text h4 {
    font-size: 16px;
  }
  .introduce_text h2 {
    font-size: 28px;
  }
  .introduce_text h3 {
    font-size: 18px;
  }
  .section03 .title {
    font-size: 58px;
    & a {
      font-size: 22px;
    }
  }
  .work_wrap .work {
    width: 300px;
    height: 300px;
    img {
      width: 100%;
    }
  }
  .section04 {
    & h1 {
      font-size: 58px;
    }
    & p {
      font-size: 18px;
      &.media{
        display: none;
      }
    }
  }
}
