.section01 {
  background-color: black;
  height: 100vh;
  position: relative;
  padding: 3vw 6vw;
  z-index: 2;
  box-sizing: border-box;
  overflow: hidden;

  .title {
    padding: 100px 0 0;
    color: #fff;
    font-size: 118px;
    position: relative;
  }
}

.section02 {
  .text {
    padding: 230px 0;
    & h1 {
      font-size: 4vw;
      text-align: center;
      line-height: 1.25;
    }
    & h1:last-child {
      font-size: 48px;
      font-style: italic;
      font-weight: 100;
      margin-top: 48px;
    }
  }
}
.introduce {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 115px;
  &_img {
    margin-right: 115px;
    & img {
      width: 384px;
    }
  }

  &_text {
    h2 {
      font-size: 40px;
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background-color: #000;
        margin-top: 15px;
      }
    }
    h3 {
      font-size: 25px;
      margin: 38px 0;
    }
    h4 {
      font-size: 20px;
      font-weight: 500;
    }
  }
  &_icons {
    display: flex;
    margin: 0.6vw 0 1.2vw;
    p {
      background-color: #f5f5f5;
      margin-right: 0.5vw;
      padding: 0.5vw;
      border-radius: 5px;
      box-sizing: border-box;
    }
  }
}

.section03 {
  height: auto;
  overflow: hidden;
  .cont_wrap {
    height: 100vh;
  }
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 138px;
    line-height: 1;
    & h1 span {
      display: block;
      font-style: italic;
      font-weight: 100;
    }
    & a {
      padding:10px 20px;
      box-sizing: border-box;
      border: 1px solid #fff;
      color: #fff;
      font-size: 28px;
      border-radius: 50px;
      margin-top: 78px;
      &:hover {
        background-color: #fff;
        color: #000;
        border: 1px solid #000;
      }
    }
  }
}
.work_wrap {
  position: absolute;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 66.15vw;
  height: auto;
  margin-left: -33.07vw;
  z-index: 5;
  & .work {
    width: 600px;
    height: 500px;
    text-align: center;
    margin: 78px;
    &:hover {
      cursor: url(../images/cursor_on.png) 20 10, auto;
    }
  }
  & .work img{
    width: 25vw;
  }
  & .work1 {
    transform: translate(-55%, 0%);
  }
  & .work2 {
    transform: translate(55%, -40%);
  }
  & .work3 {
    transform: translate(-55%, -65%);
  }
  & .work4 {
    transform: translate(55%, -110%);
  }
}

.section04 {
  padding: 58px 115px;
  box-sizing: border-box;
  position: relative;
  h1 {
    margin: 115px 0 58px;
    font-size: 124px;
    line-height: 1.1;
  }
  p {
    font-size: 28px;
    line-height: 1.5;
    &.please {
      font-size: 20px;
      margin-top: 10px;
      color: #888;
    }
  }
}

/* footer */
footer.index_footer {
  position: absolute;
  right: -1.5vw;
  top: 50%;
  transform: rotate(90deg);
  opacity: 0.5;
}
.contact_wrap {
  margin: 78px 0;
  display: flex;
  justify-content: space-between;
}

.contact {
  p {
    font-size: 20px;
  }
  span {
    display: block;
    margin-top: 5px;
    font-size: 24px;
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: #000;
    }
  }
}

.link_box {
  & a {
    width: 2vw;
    height: 2vw;
    display: inline-block;
    margin-right: 0.5vw;
    &:last-child {
      margin-right: 0;
    }
    & img {
      width: 100%;
      border-radius: 50%;
    }
  }
}

.guide_modal.modal {
  background-color: rgba(0, 0, 0, 0.8);
  & .modal-dialog {
    width: auto;
  }
}

.guide_modal.modal .modal-content {
  display: block;
  & .text {
    padding: 2vw;
    h3 {
      font-size: 2vw;
      margin-bottom: 0.9vw;
    }
    p {
      font-size: 1vw;
      line-height: 1.5;
    }
    span {
      display: block;
      margin-top: 1vw;
      color: #888;
    }
  }
}



/************************ Media Query **/
@media screen and (max-width: 1280px) {

} 