section {
  width: 100vw;
}

.section01 {
  background-color: black;
  height: 100vh;
  position: relative;
  padding: 44px 88px;
  z-index: 2;
  box-sizing: border-box;
  overflow: hidden;
}
.section01 .title {
  padding: 100px 0 0;
  color: #fff;
  font-size: 118px;
  position: relative;
}

.section02 .text {
  padding: 230px 0;
}
.section02 .text h1 {
  font-size: 78px;
  text-align: center;
  line-height: 1.25;
}
.section02 .text h1:last-child {
  font-size: 48px;
  font-style: italic;
  font-weight: 100;
  margin-top: 48px;
}

.introduce {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 115px;
}
.introduce_img {
  margin-right: 115px;
}
.introduce_img img {
  width: 384px;
}
.introduce_text h2 {
  font-size: 40px;
}
.introduce_text h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #000;
  margin-top: 15px;
}
.introduce_text h3 {
  font-size: 25px;
  margin: 38px 0;
}
.introduce_text h4 {
  font-size: 20px;
  font-weight: 500;
}
.introduce_icons {
  display: flex;
  margin: 12px 0 24px;
}
.introduce_icons p {
  background-color: #f5f5f5;
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
}

.section03 {
  height: auto;
  overflow: hidden;
}
.section03 .cont_wrap {
  height: 100vh;
}
.section03 .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 138px;
  line-height: 1;
}
.section03 .title h1 span {
  display: block;
  font-style: italic;
  font-weight: 100;
}
.section03 .title a {
  padding: 10px 20px;
  box-sizing: border-box;
  border: 1px solid #fff;
  color: #fff;
  font-size: 28px;
  border-radius: 50px;
  margin-top: 78px;
  position: relative;
  z-index: 10;
}
.section03 .title a:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.work_wrap {
  position: absolute;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 66.15vw;
  height: auto;
  margin-left: -33.07vw;
  z-index: 5;
}
.work_wrap .work {
  width: 600px;
  height: 500px;
  text-align: center;
  margin: 78px;
}
.work_wrap .work:hover {
  cursor: url(../images/cursor_on.png) 20 10, auto;
}
.work_wrap .work img {
  width: 25vw;
}
.work_wrap .work1 {
  transform: translate(-55%, 0%);
}
.work_wrap .work2 {
  transform: translate(55%, -40%);
}
.work_wrap .work3 {
  transform: translate(-55%, -65%);
}
.work_wrap .work4 {
  transform: translate(55%, -110%);
}

.section04 {
  padding: 44px 88px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
}
.section04 h1 {
  font-size: 124px;
  line-height: 1.1;
}
.section04 p {
  font-size: 28px;
  line-height: 1.5;
}
.section04 p.please {
  font-size: 20px;
  margin-top: 10px;
  color: #888;
}

/* footer */
footer.index_footer {
  position: absolute;
  right: -58px;
  top: 50%;
  transform: rotate(90deg);
  opacity: 0.5;
}

.contact_wrap {
  display: flex;
  justify-content: space-between;
}

.contact p {
  font-size: 20px;
}
.contact span {
  display: block;
  margin-top: 5px;
  font-size: 24px;
}
.contact span::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000;
}

.link_box a {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 10px;
}
.link_box a:last-child {
  margin-right: 0;
}
.link_box a img {
  width: 100%;
  border-radius: 50%;
}

.guide_modal.modal {
  background-color: rgba(0, 0, 0, 0.8);
}
.guide_modal.modal .modal-dialog {
  width: auto;
}

.guide_modal.modal .modal-content {
  display: block;
}
.guide_modal.modal .modal-content .text {
  padding: 2vw;
}
.guide_modal.modal .modal-content .text h3 {
  font-size: 2vw;
  margin-bottom: 0.9vw;
}
.guide_modal.modal .modal-content .text p {
  font-size: 1vw;
  line-height: 1.5;
}
.guide_modal.modal .modal-content .text span {
  display: block;
  margin-top: 1vw;
  color: #888;
}

/************************ Media Query **/
@media screen and (max-width: 1465px) {
  .section01 .title {
    font-size: 108px;
  }
  .introduce_img img {
    width: 348px;
  }
  .work_wrap .work {
    width: 500px;
    height: 400px;
    margin: 39px;
  }
  .work_wrap .work img {
    width: 30vw;
  }
  .section04 h1 {
    font-size: 118px;
  }
  .section04 p.please {
    font-size: 18px;
  }
  .contact p p {
    font-size: 18px;
  }
  .contact p span {
    font-size: 22px;
  }
}
@media screen and (max-width: 1350px) {
  .section01 .title {
    font-size: 98px;
  }
  .work_wrap .work img {
    width: 38vw;
  }
}
@media screen and (max-width: 1280px) {
  .section01 .title {
    font-size: 82px;
  }
  .section04 h1 {
    font-size: 108px;
  }
}
@media screen and (max-width: 1028px) {
  .section02 .text h1 {
    font-size: 64px;
  }
  .section02 .text h1:last-child {
    font-size: 38px;
  }
  .introduce_text h2 {
    font-size: 34px;
  }
  .introduce_text h3 {
    font-size: 22px;
  }
  .introduce {
    flex-direction: column;
  }
  .introduce_img {
    margin-right: 0;
    margin-bottom: 115px;
  }
  .introduce_img img {
    width: 300px;
  }
}
@media screen and (max-width: 924px) {
  #header .header_wrap,
.section01,
.section04 {
    padding: 44px;
  }
  .section02 .text {
    padding: 180px 0;
  }
  .section02 .text h1 {
    font-size: 50px;
  }
  .section02 .text h1:last-child {
    font-size: 30px;
  }
  .work_wrap .work {
    width: 500px;
    height: 500px;
  }
  .work_wrap .work img {
    width: 450px;
  }
  .work_wrap .work1, .work_wrap .work2, .work_wrap .work3, .work_wrap .work4 {
    transform: inherit;
  }
  footer.index_footer {
    position: inherit;
    transform: inherit;
    right: inherit;
    top: inherit;
  }
}
@media screen and (max-width: 712px) {
  .section04 p {
    font-size: 24px;
  }
  .contact p {
    font-size: 18px !important;
  }
  .contact span {
    font-size: 22px;
  }
}
@media screen and (max-width: 640px) {
  #header .header_wrap,
.section01,
.section04 {
    padding: 28px;
  }
  .section04 h1 {
    font-size: 88px;
  }
  .section04 p {
    font-size: 20px;
  }
  .contact_wrap {
    display: block;
  }
  .contact span {
    display: inline-block;
    margin-bottom: 28px;
    font-size: 20px;
  }
}
@media screen and (max-width: 467px) {
  .section01 .title {
    font-size: 50px;
    padding: 0;
  }
  .section02,
.section03 {
    padding: 28px;
    box-sizing: border-box;
  }
  .section02 .text {
    padding: 90px 0;
  }
  .section02 .text h1 {
    font-size: 34px;
  }
  .section02 .text h1:last-child {
    font-size: 26px;
    margin-top: 24px;
  }
  .introduce {
    padding-bottom: 90px;
  }
  .introduce_img {
    margin-bottom: 90px;
  }
  .introduce_img img {
    width: 240px;
  }
  .introduce_text h4 {
    font-size: 16px;
  }
  .introduce_text h2 {
    font-size: 28px;
  }
  .introduce_text h3 {
    font-size: 18px;
  }
  .introduce_icons {
    flex-wrap: wrap;
  }
  .introduce_icons p {
    width: calc(25% - 10px);
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .section03 .title {
    font-size: 58px;
  }
  .section03 .title a {
    font-size: 22px;
  }
  .work_wrap .work {
    width: 300px;
    height: 300px;
  }
  .work_wrap .work img {
    width: 100%;
  }
  .section04 h1 {
    font-size: 58px;
  }
  .section04 p {
    font-size: 18px;
  }
  #header .header_wrap .menu_btn {
    width: 35px;
    height: 35px;
  }
  #header .header_wrap .menu_btn .line_1 {
    transform: rotate(0) translate(0%, -6px);
  }
  #header .header_wrap .menu_btn .line_2 {
    transform: rotate(0) translate(0%, 6px);
  }
  #header .header_wrap ul.active li a {
    font-size: 50px;
  }
}/*# sourceMappingURL=main.css.map */