/* utils setting */
/* main */
main h1 {
  font-size: 92px;
  line-height: 1;
}
@media screen and (max-width: 640px) {
  main h1 {
    font-size: 58px;
  }
}
main h1 span {
  display: block;
  font-style: italic;
  font-weight: 100;
}

.project_title {
  background-color: #121212;
  color: #fff;
  padding: 8vw 0 4vw;
}

.project_wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4vw;
}
.project_wrap li {
  margin-bottom: 4vw;
  width: 25%;
}
.project_wrap img {
  width: 100%;
  border: 1px solid #f5f5f5;
}
.project_wrap h2 {
  font-weight: 500;
  margin-top: 1.5vw;
}
.project_wrap p {
  font-size: 1.2vw;
  font-weight: 700;
}

h1 {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
  padding: 40px 0 10px 0;
}

.filtermenu {
  display: block;
  margin: 58px auto;
  text-align: center;
}
.filtermenu li {
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 50px;
  font-size: 20px;
  border: 1px solid #fff;
  display: inline-block;
}
@media screen and (max-width: 712px) {
  .filtermenu li {
    font-size: 18px;
  }
}
.filtermenu li:nth-child(2) {
  margin: 0 10px;
}
.filtermenu li.active {
  background: #fff;
  color: #121212;
  border: 1px solid #121212;
}

.filtermenu.media {
  display: none;
  position: fixed;
  width: 100%;
  background: #121212;
  right: 0;
  bottom: 0;
  padding: 25px;
  box-sizing: border-box;
  box-shadow: 0px -8px 40px 0px rgba(255, 255, 255, 0.17);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin: 0;
  z-index: 4;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 44px 88px;
  box-sizing: border-box;
}
@media screen and (max-width: 924px) {
  .container {
    padding: 44px;
  }
}
@media screen and (max-width: 640px) {
  .container {
    padding: 28px;
  }
}

.grid {
  margin: 0 auto;
  padding: 44px 88px;
  box-sizing: border-box;
}
@media screen and (max-width: 924px) {
  .grid {
    padding: 44px;
  }
}
@media screen and (max-width: 640px) {
  .grid {
    padding: 28px;
  }
}
.grid-item {
  width: calc(25% - 80px);
  margin: 16px;
  max-height: 800px;
  overflow: hidden;
  border-radius: 20px;
}
.grid-item.publishing {
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
}
.grid-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.grid-item img:hover {
  cursor: url(../images/cursor_on.png) 20 10, auto;
}

/* footer */
footer.project_footer {
  padding: 44px 88px;
  box-sizing: border-box;
  background-color: #121212;
  color: #fff;
}
@media screen and (max-width: 924px) {
  footer.project_footer {
    padding: 44px;
  }
}
@media screen and (max-width: 640px) {
  footer.project_footer {
    padding: 28px;
  }
}
footer.project_footer address {
  opacity: 0.5;
}

.contact_wrap {
  margin: 4vw 0;
  display: flex;
  justify-content: space-between;
}

.contact p {
  font-size: 20px;
}
@media screen and (max-width: 712px) {
  .contact p {
    font-size: 18px;
  }
}
.contact a {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 24px;
  font-size: 28px;
}
@media screen and (max-width: 712px) {
  .contact a {
    font-size: 24px;
  }
}
@media screen and (max-width: 640px) {
  .contact a {
    font-size: 20px;
  }
}
.contact a::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #121212;
}

.project_footer a::after {
  background-color: #fff;
}

.link_box a {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 10px;
}
.link_box a:last-child {
  margin-right: 0;
}
.link_box a img {
  width: 100%;
  border-radius: 50%;
}

/************************ Media Query **/
@media screen and (max-width: 1280px) {
  .post {
    width: calc(50% - 6vw);
  }
  .grid-item {
    width: calc(33.3% - 96px);
  }
  .filtermenu {
    display: none;
  }
  .filtermenu.media {
    display: block;
  }
  footer.project_footer {
    padding-bottom: 144px;
  }
}
@media screen and (max-width: 940px) {
  .grid-item {
    width: calc(50% - 96px);
  }
}
@media screen and (max-width: 768px) {
  .container,
  .filtermenu.media,
  footer.project_footer {
    padding: 28px;
  }
  main h1 {
    font-size: 76px;
  }
  .grid-item {
    width: calc(50% - 44px);
    margin: 8px;
  }
  .post {
    width: 100%;
    margin: 34px 0;
  }
  .contact_wrap {
    display: block;
  }
  .contact span {
    display: inline-block;
    margin-bottom: 28px;
    font-size: 20px;
  }
}/*# sourceMappingURL=project.css.map */