/* header */
.header_project {
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 10; /* cursor: none; */
}

.header_project .header_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3vw 6vw;
}
.header_project .header_wrap .logo {
  font-size: 1.46vw;
  color: transparent;
}
.header_project .header_wrap .menu_btn {
  display: block;
}

.header_project .header_wrap ul {
  display: none;
  justify-content: flex-end;
  opacity: 1;
  transition: all 0.5s;
}
.header_project .header_wrap ul li.work {
  margin-left: 3.85vw;
  margin-right: 3.59vw;
}
.header_project .header_wrap ul li.home {
  display: none;
}
.header_project .header_wrap ul li a {
  font-size: 1vw;
  color: #fff;
}

/* menu */
.header_project .header_wrap .menu_btn {
  position: relative;
  width: 50px;
  height: 50px;
  z-index: 10;
}
.header_project .header_wrap .menu_btn span {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: all 0.3s;
}
.header_project .header_wrap .menu_btn .line_1 {
  transform: rotate(0) translate(0%, -8px);
}
.header_project .header_wrap .menu_btn .line_2 {
  transform: rotate(0) translate(0%, 8px);
}

.header_project .header_wrap .menu_btn.active span {
  background-color: #fff !important;
  transition: all 0.3s;
}
.header_project .header_wrap .menu_btn.active .line_1 {
  transform: rotate(45deg) translate(0%, 0%);
}
.header_project .header_wrap .menu_btn.active .line_2 {
  transform: rotate(-45deg) translate(0%, 0%);
}

.header_project .header_wrap ul.active {
  position: absolute;
  top: 0;
  left: 0;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #000000;
  z-index: 5;
  opacity: 1;
  transition: all 0.5s;
}

.header_project .header_wrap ul.active li {
  position: relative;
  display: flex;
  margin: 24px 0;
}
.header_project .header_wrap ul.active li a {
  font-size: 92px;
  position: relative;
  display: block;
}
.header_project .header_wrap ul.active li a:after {
  content: "";
  width: 0;
  height: 5px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: -5px;
}
.header_project .header_wrap ul.active li a:hover:after {
  width: 100%;
}

/* main */
main h1 {
  font-size: 96px;
  line-height: 1;
}
main h1 span {
  display: block;
  font-style: italic;
  font-weight: 100;
}

.project_title {
  background-color: #000;
  color: #fff;
  padding: 8vw 0 4vw;
}

.project_wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4vw;
}
.project_wrap li {
  margin-bottom: 4vw;
  width: 25%;
}
.project_wrap img {
  width: 100%;
  border: 1px solid #f5f5f5;
}
.project_wrap h2 {
  font-weight: 500;
  margin-top: 1.5vw;
}
.project_wrap p {
  font-size: 1.2vw;
  font-weight: 700;
}

h1 {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
  padding: 40px 0 10px 0;
}

.filtermenu {
  display: block;
  margin: 58px auto;
  text-align: center;
}
.filtermenu li {
  border: 1px solid #fff;
  padding: 10px 20px;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 50px;
}
.filtermenu li:nth-child(2) {
  margin: 0 10px;
}
.filtermenu li.active {
  background: #fff;
  color: #000;
  border: 1px solid #000;
}

.filtermenu.media {
  display: none;
  position: fixed;
  width: 100%;
  background: #000;
  right: 0;
  bottom: 0;
  padding: 25px;
  box-sizing: border-box;
  box-shadow: 0px -8px 40px 0px rgba(255, 255, 255, 0.17);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin: 0;
  z-index: 4;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 3vw 9vw;
  box-sizing: border-box;
}

.post {
  width: calc(33.3% - 6vw);
  margin: 3vw 3vw;
}
.post-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 4px;
}
.post-thumb {
  margin-bottom: 18px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.post-thumb::before {
  content: "";
  display: block;
  padding-top: 100%;
}
.post-thumb:hover {
  cursor: url(../images/cursor_on.png) 20 10, auto;
}
.post-thumb img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  transition: all 0.3s linear;
}
.post-thumb img:hover {
  transform: scale(1.1);
}
.post-txt {
  font-size: 16px;
}

/* footer */
footer.project_footer {
  padding: 3vw 6vw;
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
}

.contact_wrap {
  margin: 4vw 0;
  display: flex;
  justify-content: space-between;
}

.contact p {
  font-size: inherit;
}
.contact span {
  display: block;
  margin-top: 0.3vw;
  font-size: 1vw;
}
.contact span::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.project_footer a::after {
  background-color: #fff;
}

.link_box a {
  width: 2vw;
  height: 2vw;
  display: inline-block;
  margin-right: 0.5vw;
}
.link_box a:last-child {
  margin-right: 0;
}
.link_box a img {
  width: 100%;
  border-radius: 50%;
}

/************************ Media Query **/
@media screen and (max-width: 1280px) {
  .post {
    width: calc(50% - 6vw);
  }
  .filtermenu {
    display: none;
  }
  .filtermenu.media {
    display: block;
  }
  .header_project .header_wrap ul {
    display: none;
  }
  .header_project.media .header_wrap .menu_btn {
    display: block;
    opacity: 1;
  }
}
@media screen and (max-width: 768px) {
  .header_project .header_wrap ul.active li a {
    font-size: 52px;
  }
  .header_project .header_wrap .menu_btn {
    width: 40px;
    height: 40px;
  }
  .header_project .header_wrap .menu_btn .line_1 {
    transform: rotate(0) translate(0%, -6px);
  }
  .header_project .header_wrap .menu_btn .line_2 {
    transform: rotate(0) translate(0%, 6px);
  }
  .post {
    width: 100%;
    margin: 34px 0;
  }
  main h1 {
    font-size: 80px;
  }
}/*# sourceMappingURL=project.css.map */