@import "../css/utils.scss";

/* main */
main {
  h1 {
    @include black-font;
    line-height: 1;
    span {
      display: block;
      font-style: italic;
      font-weight: 100;
    }
  }
}

.project_title {
  background-color: $black-color;
  color: $white-color;
  padding: 8vw 0 4vw;
}

.project_wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4vw;
  & li {
    margin-bottom: 4vw;
    width: 25%;
  }
  & img {
    width: 100%;
    border: 1px solid #f5f5f5;
  }
  & h2 {
    font-weight: 500;
    margin-top: 1.5vw;
  }
  & p {
    font-size: 1.2vw;
    font-weight: 700;
  }
}

h1 {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
  padding: 40px 0 10px 0;
}

.filtermenu {
  display: block;
  margin: 58px auto;
  text-align: center;

  li {
    @include more-btn;
    @include medium-font;
    border: 1px solid $white-color;    
    display: inline-block;    
    &:nth-child(2) {
      margin: 0 10px;
    }
    &.active {
      background: $white-color;
      color: $black-color;
      border: 1px solid $black-color;
    }
  }
}
.filtermenu.media {
  display: none;
  position: fixed;
  width: 100%;
  background: $black-color;
  right: 0;
  bottom: 0;
  padding: 25px;
  box-sizing: border-box;
  box-shadow: 0px -8px 40px 0px rgb(255 255 255 / 17%);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin: 0;
  z-index: 4;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  @include wrap-padding;
}

.grid{
  margin: 0 auto;
  @include wrap-padding;
  &-item{
    width: calc(25% - 80px);
    margin: 16px;    
    max-height: 800px;
    overflow: hidden;
    border-radius: 20px;
    & img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;   
      &:hover {
        cursor: url(../images/cursor_on.png) 20 10, auto;
      }
    }
  }
}

.grid.effect .grid-item.animate {
	-webkit-transform: translateY(200px);
	transform: translateY(200px);
	-webkit-animation: moveUp 0.65s ease forwards;
	animation: moveUp 0.65s ease forwards;
}

@-webkit-keyframes moveUp {
	0% { }
	100% { -webkit-transform: translateY(0); opacity: 1; }
}

@keyframes moveUp {
	0% { }
	100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
}

.post {
  width: calc(33.3% - 6vw);
  margin: 3vw 3vw;

  &-title {
    @include bold-font;
    font-weight: bold;
    margin-bottom: 4px;
  }

  &-thumb {
    margin-bottom: 20px;
    width: 100%;
    position: relative;
    overflow: hidden;
    &::before {
      content: "";
      display: block;
      padding-top: 100%;
    }
    &:hover {
      cursor: url(../images/cursor_on.png) 20 10, auto;
    }
    & img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      object-fit: cover;
      width: 100%;
      transition: all 0.3s linear;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &-txt {
    @include light-font;
  }
}

/* footer */
footer.project_footer {
  @include wrap-padding;  
  background-color: $black-color;
  color: $white-color;
  address {
    opacity: 0.5;
  }
}
.contact_wrap {
  margin: 4vw 0;
  display: flex;
  justify-content: space-between;
}
.contact {
  p {
    @include medium-font;
  }
  span {
    display: block;
    margin-top: 5px;
    @include extrabold-font;
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: $white-color;
    }
  }
}
.project_footer a::after {
  background-color: $white-color;
}
.link_box {
  & a {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
    & img {
      width: 100%;
      border-radius: 50%;
    }
  }
}

/************************ Media Query **/
@media screen and (max-width: 1280px) {
  .post {
    width: calc(50% - 6vw);
  }
  .grid-item{width: calc(33.3% - 96px);}
  .filtermenu {
    display: none;
  }
  .filtermenu.media {
    display: block;
  }
  footer.project_footer{
    padding-bottom: 144px;
  }
}
@media screen and (max-width: 940px) {
  .grid-item{width: calc(50% - 96px);}
}
@media screen and (max-width: 768px) {
  .container,
  .filtermenu.media,
  footer.project_footer {
    padding: 28px;
  }
  main h1 {
    font-size: 76px;
  }  
  .grid-item{width: calc(50% - 64px);}
  .post {
    width: 100%;
    margin: 34px 0;
  }
  footer.project_footer {
    padding-bottom: 128px;
  }
  .contact_wrap {
    display: block;
  }
  .contact span {
    display: inline-block;
    margin-bottom: 28px;
    font-size: 20px;
  }
}